.status {
  height: 20px;
  position: fixed;
  bottom: 0;
  right: 0;
  font-size: 10px;
  font-style: italic;
  cursor: default;
  padding-left: 7px;
  padding-right: 10px;
  padding-top: 3px;
  padding-bottom: 3px;
  background-color: white;
  border-radius: 2px;
}

.status-img {
  height: 15px;
  vertical-align: text-top;
  padding-right: 2px;
}
